In [46]:
#import necessary libraries
import pandas as pd
import json

In [47]:
with open('team-match-results.json')as f:
    data = json.load(f)
len(data)

1

In [48]:
#creating dataframes
with open('team-match-results.json')as f:
    data = json.load(f)
df_match = pd.DataFrame(data[0]['matchSummary'])
df_match.head()

,team1,team2,winner,margin,ground,matchDate,scorecard
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [49]:
df_match.shape

(45, 7)

In [50]:
df_match.rename({'scorecard':'match_id'}, axis=1, inplace = True)
df_match.head()

,team1,team2,winner,margin,ground,matchDate,match_id
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

**batting summary**

In [51]:
with open('team-batting-summary.json') as d:
    data = json.load(d)
    
    all_records = []
    
    for rec in data:
        all_records.extend(rec['battingSummary'])
df_batting = pd.DataFrame(all_records)
df_batting.tail()

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
694,Pakistan Vs England,England,3,Phil Salt,c Iftikhar Ahmed b Haris Rauf,10,9,2,0,111.11
695,Pakistan Vs England,England,4,Ben Stokes,,52,49,5,1,106.12
696,Pakistan Vs England,England,5,Harry Brook,c Shaheen Shah Afridi b Shadab Khan,20,23,1,0,86.95
697,Pakistan Vs England,England,6,Moeen Ali,b Mohammad Wasim,19,13,3,0,146.15
698,Pakistan Vs England,England,7,Liam Livingstone,,1,1,0,0,100.00

In [52]:
# create a new column from existing dismissal column
df_batting["out/not_out"] = df_batting.dismissal.apply(lambda x:"out" if len(x)>0 else "not_out")
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33,out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,run out (Gunathilaka/â€ Mendis),44,28,4,0,157.14,out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,c â€ Mendis b Theekshana,0,1,0,0,0.00,out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,,31,16,2,2,193.75,not_out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,c Smit b Shikongo,9,10,1,0,90.00,out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendisâ€,c â€ Green b Wiese,6,6,0,0,100.00,out
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,c Shikongo b Frylinck,12,11,1,0,109.09,out

In [53]:
df_batting.drop(columns=["dismissal"], inplace=True)
df_batting.head(5)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out

In [33]:
df_batting.tail(15)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
684,Pakistan Vs England,Pakistan,3,Mohammad Haris,8,12,1,0,66.66,out
685,Pakistan Vs England,Pakistan,4,Shan Masood,38,28,2,1,135.71,out
686,Pakistan Vs England,Pakistan,5,Iftikhar Ahmed,0,6,0,0,0.00,out
687,Pakistan Vs England,Pakistan,6,Shadab Khan,20,14,2,0,142.85,out
688,Pakistan Vs England,Pakistan,7,Mohammad Nawaz,5,7,0,0,71.42,out
689,Pakistan Vs England,Pakistan,8,Mohammad Wasim,4,8,0,0,50.00,out
690,Pakistan Vs England,Pakistan,9,Shaheen Shah Afridi,5,3,1,0,166.66,not_out
691,Pakistan Vs England,Pakistan,10,Haris Rauf,1,1,0,0,100.00,not_out
692,Pakistan Vs England,England,1,Jos Buttler(c)â€,26,17,3,1,152.94,out
693,Pakistan Vs England,England,2,Alex Hales,1,2,0,0,50.00,out
694,Pakistan Vs England,England,3,Phil Salt,10,9,2,0,111.11,out
695,Pakistan Vs England,England,4,Ben Stokes,52,49,5,1,106.12,not_out
696,Pakistan Vs England,England,5,Harry Brook,20,23,1,0,86.95,out
697,Pakistan Vs England,England,6,Moeen Ali,19,13,3,0,146.15,out
698,Pakistan Vs England,England,7,Liam Livingstone,1,1,0,0,100.00,not_out

In [63]:
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('â€',''))
df_batting.head(15)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out,T20I # 1823
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out,T20I # 1823
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out,T20I # 1823
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out,T20I # 1823
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out,T20I # 1823
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,out,T20I # 1823
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,out,T20I # 1823
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,not_out,T20I # 1823
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,out,T20I # 1823
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendis,6,6,0,0,100.00,out,T20I # 1823
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,12,11,1,0,109.09,out,T20I # 1823
11,Namibia Vs Sri Lanka,Sri Lanka,4,Danushka Gunathilaka,0,1,0,0,0.00,out,T20I # 1823
12,Namibia Vs Sri Lanka,Sri Lanka,5,Bhanuka Rajapaksa,20,21,2,0,95.23,out,T20I # 1823
13,Namibia Vs Sri Lanka,Sri Lanka,6,Dasun Shanaka(c),29,23,2,1,126.08,out,T20I # 1823
14,Namibia Vs Sri Lanka,Sri Lanka,7,Wanindu Hasaranga de Silva,4,8,0,0,50.00,out,T20I # 1823

In [64]:
# to link 2 tables
match_ids_dict = {}
for index, row in df_match.iterrows():
    key1 = row['team1'] + ' Vs ' + row['team2']
    key2 = row['team2'] + ' Vs ' + row['team1']
    match_ids_dict[key1] = row['match_id']
    match_ids_dict[key2] = row['match_id']

In [65]:
df_batting.shape

(699, 11)

In [66]:
match_ids_dict["Namibia Vs Sri Lanka"]

'T20I # 1823'

In [67]:
df_batting["match_id"] = df_batting["match"].map(match_ids_dict)

df_batting.head

<bound method NDFrame.head of                     match teamInnings  battingPos             batsmanName  \
0    Namibia Vs Sri Lanka     Namibia           1      Michael van Lingen
1    Namibia Vs Sri Lanka     Namibia           2           Divan la Cock
2    Namibia Vs Sri Lanka     Namibia           3  Jan Nicol Loftie-Eaton
3    Namibia Vs Sri Lanka     Namibia           4           Stephan Baard
4    Namibia Vs Sri Lanka     Namibia           5      Gerhard Erasmus(c)
..                    ...         ...         ...                     ...
694   Pakistan Vs England     England           3               Phil Salt
695   Pakistan Vs England     England           4              Ben Stokes
696   Pakistan Vs England     England           5             Harry Brook
697   Pakistan Vs England     England           6               Moeen Ali
698   Pakistan Vs England     England           7        Liam Livingstone

    runs balls 4s 6s      SR out/not_out     match_id
0      3     6  0  0   50.00         out  T20I # 1823
1      9     9  1  0  100.00         out  T20I # 1823
2     20    12  1  2  166.66         out  T20I # 1823
3     26    24  2  0  108.33         out  T20I # 1823
4     20    24  0  0   83.33         out  T20I # 1823
..   ...   ... .. ..     ...         ...          ...
694   10     9  2  0  111.11         out  T20I # 1879
695   52    49  5  1  106.12     not_out  T20I # 1879
696   20    23  1  0   86.95         out  T20I # 1879
697   19    13  3  0  146.15         out  T20I # 1879
698    1     1  0  0  100.00     not_out  T20I # 1879

[699 rows x 11 columns]>

In [68]:
df_batting.to_csv('fact_bating_summary.csv', index = False)